* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "nunito", sans-serif;
}

img {
  max-width: 100%;
}

header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 50px;
  padding-bottom: 0;
}
header img {
  width: 15%;
  margin-bottom: 30px;
}
header ul {
  display: flex;
  list-style: none;
}
header ul li {
  margin: 0 5px;
  padding: 15px 10px;
}
header ul li:hover {
  background-color: #CBEEFD;
  cursor: pointer;
}
header ul li a {
  text-decoration: none;
  color: black;
}

main {
  height: 100%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  background-image: url(../img/fondo-pag-speciali.jpg);
}
main .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
main .container h2 {
  align-self: flex-start;
  margin-left: 10%;
  color: #133D7F;
}
main .container .cards {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
main .container .cards .card {
  position: relative;
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
main .container .cards .card img {
  width: 100%;
  display: block;
}
main .container .cards .card .text-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(145, 202, 214, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.3s;
}
main .container .cards .card .text-card a {
  text-decoration: none;
  color: #133D7F;
}
main .container .cards .card:hover .text-card {
  opacity: 1;
}

footer {
  height: 100%;
  background-image: url(../img/footer-montagne-bottom.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0 120px 0;
  color: #A2A9B4;
}
footer .columns {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
footer .columns .column {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  height: 100%;
  padding: 0 40PX;
}
footer .columns .column ul {
  list-style: none;
  margin-bottom: 20px;
}
footer .columns .column ul a {
  text-decoration: none;
  color: #A2A9B4;
}
footer .columns .column img {
  width: 70%;
}
