footer
{
    height: 100%;
    background-image: url(../img/footer-montagne-bottom.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 0 120px 0;
    color: $footer_text_color;

     .columns
     {
         width: $section_align_width;
         display: flex;
         justify-content: center;
         align-items: flex-start;

         .column
         {
            display: flex;
            flex-direction: column;
            width: calc(100% / 3);
            height: 100%;
            padding: 0 40PX;

            ul
            {
                list-style: none;
                margin-bottom: 20px;

                a
                {
                    text-decoration: none;
                    color: $footer_text_color
                }
            }

            img
            {
                width: 70%;
            }
         }
     }

}