header
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
    padding-bottom: 0;

    img 
    {
        width: 15%;
        margin-bottom: 30px;
    }

    ul
    {
        display: flex;
        list-style: none;
        
        li 
        {
            margin: 0 5px;
            padding: 15px 10px;

            // &:hover 
            // {
            //     background-color: #CBEEFD;
            //     cursor: pointer;
            // }

            a
            {
                text-decoration: none;
                color: black;
            }
        }

        .active
        {
           
            background-color: #DAEDF3;
        }
    }
}